
body{
background-color: rgb(127, 127, 235);
}


 h1{
color:rgb(223, 152, 164) ;
font-family: Arial, Helvetica, sans-serif;
background:rgb(245, 122, 122) ;
}


p{
color: ;
font-family:Georgia, 'Times New Roman', Times, serif ;
font-size: ;
background: ;
}