Estilizar a cor de fundo do seu site como o css
body{
background-color: rgb(127, 127, 235);
}

Estilizar o título principal do seu site
 h1{
color:rgb(223, 152, 164) ;
font-family: Arial, Helvetica, sans-serif;
background:rgb(245, 122, 122) ;
}

Estilizar os parágrafos
p{
color: ;
font-family:Georgia, 'Times New Roman', Times, serif ;
font-size: ;
background: ;
}